<!DOCTYPE html>
<html>

<head>
    <title>Food Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body style="text-align:center;">
    <div style="text-align:center;margin-left:auto;margin-right:auto;width:100%">
    <table style="display:inline-table;">
        <tr>
            <td style="text-align:left;position:relative;top:-100px;">
                <form action="../predict/" method="POST" enctype="multipart/form-data">
                    <div><h2>Upload a food picture</h2></div>
                    <div><input type="file" name="file"/></div>
                    <div><input type="submit" value="Predict" class="btn btn-primary btn-lg"/></div>
                </form>
            </td>
            <td>
                <div style="text-align:center;margin:5px;">
                    <div>
                        <img src="{{ food_image }}" alt="{{ food_pred[0] }} or {{ food_pred[1] }} or {{ food_pred[1] }}" class="rounded mx-auto d-block" style="width:768px;height:400px;">
                    </div>
                    <div style="margin:5px;">
                        <input type="button" id="btnPredict" value="Random Predict" onclick="location.href='../predict'" class="btn btn-primary btn-lg">
                    </div>
                    <div style="font-weight:bold;font-size:22px;margin:20px;margin:5px;">
                        <h1 class="text-primary">Prediction : {{ food_pred[0] }} - Probabilité : {{ food_probas[0] }} %</h1>
                    </div>
                    <div style="width:100%;text-align:left;">
                        <h2>Autres possibilités</h2>
                        <ul>
                            <li>
                                <h4>{{ food_pred[1] }} - Probabilité : {{ food_probas[1] }} %</h4>
                            </li>
                            <li>
                                <h4>{{ food_pred[2] }} - Probabilité : {{ food_probas[2] }} %</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>